@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    background-color: rgb(129, 193, 252);
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.brand{
    font-family: 'Berkshire Swash', cursive;
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
    padding: 6px 0px 6px 6%;
    font-size: 40px;
    
}
header ul li{
    list-style: none;
    display: inline-block;
    padding: 16px 3vw;
    font-size: 23px;
}

header ul li a{
    color: aliceblue;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
#portrait {
    
    font-size: 39px;
    
    position: relative;
    top: 5px;
}
/* .firstpage{
    background-color: aqua;
    margin: auto;
} */




